{% extends "base.html" %}
{% block content %}
    <script>
        $(document).ready(function(){
            var hdjc = $("#hdjc").val()
            console.log(hdjc)
            if(hdjc == "话单监测"){
                $("#huadan").addClass("active")
            }
        })
        function movefile() {
            var source = $("#source").val()
            var dest = $("#dest").val()
            param = "source=" + source + "&dest=" + dest
            $.post('/billcarry', param, function (data) {
                console.log(data["num"])
                $("#message").css("display", 'block');
                if (data["status"] == 'un-normal') {
                    $("#message").text("文件夹有" + data["num"] + "个文件,数量超标,已经移动到目标文件夹")
                } else {
                    $("#message").text("文件夹有" + data["num"] + "个文件,数量正常")
                }
            })
        }

        var interval;

        function mvfile() {
            if (interval != undefined) {

            } else {
                interval = setInterval(function () {
                    movefile()
                }, 5000)
            }
        }

        function stopmvfile() {
            clearInterval(interval);
            interval = undefined;
        }
    </script>

    <div class="form-row">
        <input type="text" class="form-control" id="hdjc" style="display: none" value="话单监测">
        <div class="col">
            <input type="text" class="form-control" id="source" placeholder="源话单路径">
        </div>
        <div class="col">
            <input type="text" class="form-control" id="dest" placeholder="目的路径">
        </div>

        <div class="col">
            <button type="submit" class="btn btn-primary " onclick="mvfile()">启动</button>
        </div>

        <div class="col">
            <button type="submit" class="btn btn-primary " onclick="stopmvfile()">暂停</button>
        </div>
    </div>
    <div class="alert alert-danger" style="display: none;margin: 10px" role="alert" id="message">
    </div>
{% endblock %}